{% extends 'basic/base.html' %}
{% load static %}
{% block content%}
<div class="container">
    <div class="col-lg-12">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items:<strong>{{sum_items}}</strong></h5></td>
                    <th><h5>Total:<strong>${{sum_price}}</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>

        <div class="box-element" style="margin-top: 50px;">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            {% for order in orders %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{order.product.get_image}}"></div>
                <div style="flex:2"><p>{{order.product.name}}</p></div>
                <div style="flex:1"><p>${{order.product.price|floatformat:2}}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{order.quantity}}</p>
                    <div class="quantity">
                        <a href="{% url 'add_quantity' order.product.name %}"><img  data-action="add" class="chg-quantity update-cart" src="{% static  'media/arrow-up.png' %}"></a>
					
						<a href="{% url 'less_quantity' order.product.name %}"><img data-action="remove" class="chg-quantity update-cart" src="{% static  'media/arrow-down.png' %}"></a>
                    </div>
                </div>
                <div style="flex:1"><p>${{order.total_sum}}</p></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}